<p-toast />
<div class="flex justify-end">
    <p-button (click)="submitButton.click()" [outlined]="true" label="ACTUALIZAR" icon="pi pi-save" />
</div>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        <div class="p-fluid">
            <label for="lastPatName">Apellido Paterno</label>
            <input id="lastPatName" pInputText type="text" formControlName="lastPatName">
            <div class="p-error" [innerHTML]="generateErrorMessages('lastPatName')"></div>
        </div>
        <div class="p-fluid">
            <label for="lastMatName">Apellido Materno</label>
            <input id="lastMatName" pInputText type="text" formControlName="lastMatName">
            <div class="p-error" [innerHTML]="generateErrorMessages('lastMatName')"></div>
        </div>
        <div class="p-fluid">
            <label for="firstName">Primer Nombre</label>
            <input id="firstName" pInputText type="text" formControlName="firstName">
            <div class="p-error" [innerHTML]="generateErrorMessages('firstName')"></div>
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-2">
        <div class="p-fluid">
            <label for="middleName">Segundo Nombre</label>
            <input id="middleName" pInputText type="text" formControlName="middleName">
            <div class="p-error" [innerHTML]="generateErrorMessages('middleName')"></div>
        </div>
        <div class="p-fluid">
            <label for="docTypeId">Tipo de documento</label>
            <p-dropdown id="docTypeId" formControlName="docTypeId" [showClear]="true" [options]="documentTypes()"
                optionLabel="text" optionValue="id" placeholder="--Seleccionar--" />
            <div class="p-error" [innerHTML]="generateErrorMessages('docTypeId')"></div>
        </div>
        <div class="p-fluid">
            <label for="numdoc">Número de documento</label>
            <input id="numdoc" pInputText type="text" formControlName="numdoc" onlyNumbers>
            <div class="p-error" [innerHTML]="generateErrorMessages('numdoc')"></div>
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-2">
        <div class="p-fluid">
            <label for="birthDate">Fecha de nacimiento</label>
            <p-calendar id="birthDate" appendTo="body" placeholder="DD/MM/YYYY" [showIcon]="true" inputId="icondisplay"
                [iconDisplay]="'input'" dateFormat="dd/mm/yy" [maxDate]="today" formControlName="birthDate" dateMask />
            <div class="p-error" [innerHTML]="generateErrorMessages('birthDate')"></div>
        </div>
        <div class="p-fluid">
            <label for="civilStatusId">Estado civil</label>
            <p-dropdown id="civilStatusId" formControlName="civilStatusId" [showClear]="true" [options]="civilStates()"
                optionLabel="text" optionValue="id" placeholder="--Seleccionar--" />
            <div class="p-error" [innerHTML]="generateErrorMessages('civilStatusId')"></div>
        </div>
        <div class="p-fluid">
            <label for="genderId">Sexo</label>
            <p-dropdown id="genderId" formControlName="genderId" [showClear]="true" [options]="genders()"
                optionLabel="text" optionValue="id" placeholder="--Seleccionar--" />
            <div class="p-error" [innerHTML]="generateErrorMessages('genderId')"></div>
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-2">
        <div class="p-fluid">
            <label for="phoneNumber">Teléfono Celular</label>
            <input id="phoneNumber" pInputText type="text" formControlName="phoneNumber" onlyNumbers>
            <div class="p-error" [innerHTML]="generateErrorMessages('phoneNumber')"></div>
        </div>
        <div class="p-fluid">
            <label for="licenceNumber">Brevete</label>
            <input id="licenceNumber" pInputText type="text" formControlName="licenceNumber" onlyNumbers>
            <div class="p-error" [innerHTML]="generateErrorMessages('licenceNumber')"></div>
        </div>
        <div class="p-fluid">
            <label for="licenceTypeId">Categoría de Brevete</label>
            <p-dropdown id="licenceTypeId" formControlName="licenceTypeId" [showClear]="true"
                [options]="licenseDrives()" optionLabel="text" optionValue="id" placeholder="--Seleccionar--" />
            <div class="p-error" [innerHTML]="generateErrorMessages('licenceTypeId')"></div>
        </div>
    </div>
    <div class="grid grid-cols-1 gap-4 mt-2">
        <div class="p-fluid">
            <label for="email">Correo Electrónico</label>
            <input id="email" pInputText type="text" formControlName="email" placeholder="email@example.com">
            <div class="p-error" [innerHTML]="generateErrorMessages('email')"></div>
        </div>
    </div>
    <button type="submit" #submitButton hidden></button>
</form>
<p-confirmDialog [style]="{ width: '350px' }" />