<header>
    <div class="fixed inset-0 flex h-24 justify-between z-10" [class.navbar-fixed]="scrolled">
        <div class="container-logo flex items-center">
            <img [src]="scrolled ? '/assets/images/minsur.png' : '/assets/images/minsur-blanco.png'" alt="logo">
        </div>
        <div class="flex items-center">
            <p-button [severity]="scrolled ? 'warning' : 'success'" size="small" [raised]="true" class="mr-4"
                href="https://gesso-sanrafael.stcloud.app/ayudapostulante/" target="_blank">Ver Manual</p-button>
            <img class="h-full" src="/assets/images/colores-minsur.png" alt="colors">
        </div>
    </div>

    <div class="m-0 h-100 w-full relative">
        <img class="inset-0 object-cover w-full h-[405px]" src="/assets/images/banner_san_rafael3.png" alt="logo">
    </div>
</header>
<div>
    <span class="block overflow-hidden relative">
        <span class="block py-12">
            <img class="absolute inset-0 min-w-full" alt="" src="/assets/images/separador.png" decoding="async">
        </span>
    </span>
</div>
<div class="pr-7" *ngIf="existSession">
    <div class="float-right relative bg-principal w-32 h-20 rounded flex items-center justify-center">
        <p-avatar pBadge value="4" image="./../../assets/images/user_icon.png" size="xlarge" shape="circle" />
        <i class="pi pi-angle-down icon-header-custom" (click)="op.toggle($event)"></i>
    </div>
    <p-overlayPanel #op>
        <div class="p-1">
            <p-button class="cursor-pointer" [raised]="true" severity="secondary" icon="pi pi-sign-out"
                (click)="closeSession()" label="CERRAR SESIÓN" />
        </div>
    </p-overlayPanel>

    <div class="whitespace-nowrap align-middle float-right mr-1">
        <div class="bg-principal rounded p-4 text-white text-lg h-20">
            <div>{{personInfo.name || 'NAME LASTNAME NOT FOUND'}}</div>
            <div>DNI: {{personInfo.username}}</div>
        </div>
    </div>
</div>