<div class="flex gap-4 mb-3">
    <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input placeholder="Buscar por contratista o Puesto..." class="w-[320px]" [(ngModel)]="textSearch"
            (input)="setSearchFilterValue($event)" pInputText type="text">
    </p-iconField>
    <p-floatLabel>
        <p-dropdown styleClass="w-[200px]" [options]="states" [(ngModel)]="selectedState" optionLabel="name"
            (onChange)="onStateChange($event.value.id)" inputId="float-label">
        </p-dropdown>
        <label for="float-label">--Seleccionar Estado--</label>
    </p-floatLabel>
    <p-button [disabled]="!activeFilters.length" severity="secondary" [raised]="true" (click)="clearFilters()"
        label="Limpiar filtros" icon="pi pi-times" />
</div>