<div class="border-solid border-2 border-gray-200">
    <div class="bg-white shadow-md">
        <div class="bg-principal text-white px-4 py-2">
            Listado de Convocatorias Abiertas
        </div>
        <p class=" bg-red-200 text-justify p-3 italic">
            <span class="font-bold">Atención: </span>Antes de postular, recuerde que sus datos deberán estar
            actualizados a la fecha de postulación. De no ser el caso,
            podrá editar la información a fin de realizar las modificaciones que correspondan.
        </p>
        <p-table styleClass="p-datatable-sm p-datatable-gridlines" [value]="data" [lazy]="true">
            <ng-template pTemplate="header">
                <tr>
                    <ng-container *ngFor="let column of columns">
                        <th class="bg-secondary text-white text-sm">
                            {{column.header}}</th>
                    </ng-container>
                    <th class="bg-secondary text-white text-sm">Postular</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-element>
                <tr>
                    <ng-container *ngFor="let column of columns">
                        <td *ngIf="column.field === 'requirements'" class="text-center">
                            <span class="underline text-blue-700 cursor-pointer" (click)="openDialog(element.id)"
                                (keypress)="openDialog(element.id)">Ver requisitos</span>
                        </td>
                        <td *ngIf="column.field === 'periodo'" class="text-center">
                            {{element.startDate | date:"dd/MM/yyyy"}} - {{element.endDate | date:"dd/MM/yyyy"}}
                        </td>
                        <td *ngIf="column.field !== 'requirements' && column.field !== 'periodo'">
                            {{element[column.field]}}
                        </td>
                    </ng-container>
                    <td class="text-center">
                        <p-button icon="pi pi-check-square" styleClass="p-0"
                            (click)="openDialog(element.id)"></p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">Sin datos que mostrar</td>
                </tr>
            </ng-template>
        </p-table>
        <div class="flex justify-end">
            <p-paginator [totalRecords]="totalRecords" [first]="pageIndex" [rows]="pageSize"
                [rowsPerPageOptions]="pageSizeOptions"></p-paginator>
        </div>
    </div>
</div>