@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";

html,
body {
    margin: 0;
    font-size: 14px;
}


body {
    font-family: var(--font-family);
    font-weight: normal;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center !important;
}

.custom-icon {
    color: #ff0707 !important;
    font-size: 24px !important;
}

.custom-icon-info {
    color: #61afe2 !important;
    font-size: 24px !important;
}

//Style for dialog forms
/*.p-component:disabled {
    background-color: rgb(222, 216, 216);
}*/

.p-calendar .p-datepicker {
    min-width: auto;
}

.p-error {
    min-height: 1.5em !important;
}

.footer-custom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(240, 240, 240);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-bottom: 0.75rem;
    text-align: right;
}

.custom-header-dialog {
    .p-dialog-header {
        background-color: rgb(0, 78, 139);
        color: #ffffff;

        .p-dialog-header-icon {
            background-color: #000000;
            color: #ffffff;
        }
    }
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: rgb(0, 78, 139);
    color: white;
}

.p-tabview-panels {
    padding: 0px;
}

.p-tabview-nav-container {

    .p-tabview-nav-link {
        border: 1px solid #e1e1e1;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }
}

.p-fieldset-legend {
    background-color: rgb(0, 78, 139);

    .p-fieldset-legend-text {
        color: #ffffff;
    }
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
    color: #ffffff;
}

//scrollbar
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    overflow-y: scroll;
    background: rgba(49, 46, 66, 0.086);
    box-shadow: inset 0 0 4px #7070703f;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.111);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(25, 29, 53, 0.053);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0000005f;
}

.error-code {
    display: inline-block;
    background-color: #FFCDD2;
    color: #C62828;
    border: 1px solid #C62828;
    border-radius: 5px;
    margin-top: 10px;
    padding: 2px 5px;
}