<div class="my-5">
    <footer class="text-lg-start text-white bg-principal">
        <div class="p-4 pb-0">
            <section class="my-3 px-20">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
                    <div class="mx-auto mt-3">
                        <h3 class="text-uppercase">
                            MINSUR
                        </h3>
                        <img class="w-full" src="../../../../../assets/images/san_rafael.png" alt="logo" />
                    </div>
                    <hr class="w-full my-4 md:hidden" />
                    <div class="mx-auto mt-3">
                        <h3 class="text-uppercase mb-4">ENLACES</h3>
                        <p><a href="#" class="text-white">Inicio</a></p>
                        <p><a href="https://www.minsur.com/nuestras-operaciones/unidad-minera-san-rafael/"
                                class="text-white">Sobre Nosotros</a></p>
                        <p><a href="https://web.facebook.com/groups/2927847240834507/?locale=es_LA&_rdc=1&_rdr"
                                class="text-white">Procesos de selección</a></p>
                        <p><a href="https://www.minsur.com/" class="text-white">MINSUR</a></p>
                    </div>
                    <hr class="w-full my-4 md:hidden" />
                    <div class="mx-auto mt-3">
                        <h3 class="text-uppercase mb-4">CONTACTO</h3>
                        <div class="flex flex-col">
                            <div class="flex items-center">
                                <i class="pi pi-home"></i>
                                <p class="ml-2 px-2">Puno, Melgar Antauta</p>
                            </div>
                            <div class="flex items-center">
                                <i class="pi pi-envelope"></i>
                                <p class="ml-2 px-2">aacc&#64;minsur.com</p>
                            </div>
                            <div class="flex items-center">
                                <i class="pi pi-phone"></i>
                                <p class="ml-2 px-2">(511) 215 8330</p>
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto mt-3 text-center">
                        <h3 class="text-uppercase title">Síguenos en</h3>
                        <div class="flex flex-wrap justify-center gap-4 mt-4">
                            <a href="https://web.facebook.com/MinsurOficial?_rdc=1&_rdr" aria-label="Facebook"
                                target="_blank"
                                class="w-14 h-14 flex items-center justify-center rounded-full  bg-blue-600 text-white no-underline">
                                <i class="pi pi-facebook" style="font-size: 1.5rem"></i>
                            </a>
                            <a href="https://twitter.com/Minsur_Oficial" aria-label="Twitter" target="_blank"
                                class="w-14 h-14 flex items-center justify-center rounded-full bg-black text-white no-underline">
                                <i class="pi pi-twitter" style="font-size: 1.5rem"></i>
                            </a>
                            <a href="https://www.youtube.com/user/canalminsur" aria-label="Youtube" target="_blank"
                                class="w-14 h-14 flex items-center justify-center rounded-full border-red-600 bg-red-600 text-white no-underline">
                                <i class="pi pi-youtube" style="font-size: 1.5rem"></i>
                            </a>
                            <a href="https://www.instagram.com/minsur_peru/?hl=es-la" aria-label="Instagram"
                                target="_blank"
                                class="w-14 h-14 flex items-center justify-center rounded-full border-pink-500 bg-pink-500 text-white no-underline">
                                <i class="pi pi-instagram" style="font-size: 1.5rem"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/minsur-s-a-/mycompany/verification/"
                                target="_blank" aria-label="Linkedin"
                                class="w-14 h-14 flex items-center justify-center rounded-full border-blue-700 bg-blue-700 text-white no-underline">
                                <i class="pi pi-linkedin" style="font-size: 1.5rem"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="text-center p-3 bg-opacity-20 bg-black">
            © 2024 Copyright:
            <a class="text-white" rel="preconnect" target="_blank" href="https://sotech.com.pe/">SOTECH</a>
        </div>
    </footer>
</div>